
.cardMain {
    width: 245px;
    height: 350px;
    background-color: #fff;
    margin: 10px 0px;
    border: 0.5px solid rgb(156, 156, 156);
}

.cardImage {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.cardImage img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.cardTime {
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px5px;
    margin: 3px;
}

.cardTime h5 {
    margin: 0px 5px;
    padding: 0px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(137, 137, 137);

}

.cardTitle {
    height: 13%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 6px;

}

.cardTitle h3 {

    /* padding: 0px;
    font-size: 10px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: rgb(137, 137, 137); */
    overflow: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 2;

}

.cardDescription {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardDescription h5 {
    margin: 0px 5px;
    padding: 0px;
    font-size: 10px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: rgb(104, 104, 104);
    overflow: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 3;

}

#cardLine {
    width: 90%;
    border: 0.1px solid rgb(0, 0, 0, 0.2);

    margin: 0px auto;
    margin-bottom: 2px;
}

.cardReaction {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardReaction>img {
    height: 80%;
    margin: 0px 10px;
}

.clapCount {
    height: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    color: rgb(137, 137, 137);
}

.clapCount>img {
    height: 100%;
    margin: 0px 10px;
}