#innerheader {
    width: 70%;
    margin: 0 auto;
    height: 100%;

}

#innerheader h2 {
    margin-top: 20px;
    margin-bottom: 2px;
}

#innerheader h4 {
    margin-top: 5px;
}

#innerHeadContainer1 {
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;


}

#innerHeadContainer2 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.options {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}