.App {
  margin: 0px;
}

.header {
  background-color: #000;
  height: 13vh;
  width: 100%;
  z-index: 999;
  color: #fff;
}

.footer {
  flex: none;

  bottom: 0;
  background-color: #000;
  justify-self: flex-end;
  align-self: flex-end;
  height: 8vh;
  width: 100%;
  z-index: 999;
  color: #fff;
}